.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 24px;
}

.filter__wrapper {
    grid-column: auto / span 3;
}

.cards__wrapper {
    grid-column: auto / span 9;
}

.show__more {
    width: 100%;
    padding: 8px 16px;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 7px;
    border: 1px solid #144075;
    cursor: pointer;
}

.show__more_btn {
    color: #144075;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    background: transparent;
}