.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.header {
    color: #0D2E55;
    font-size: 96px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.desc_wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.desc_header {
    color: #000;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.desc_text {
    color: #8B8B8B;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.desc_link {
    color: #008CE4;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
}