@font-face {
    font-family: 'Inter';
    src: local('Inter'), url(assets/fonts/Inter-ExtraBold.ttf) format('ttf');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Inter';
    src: local('Inter'), url(assets/fonts/Inter-Bold.ttf) format('ttf');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Inter';
    src: local('Inter'), url(assets/fonts/Inter-SemiBold.ttf) format('ttf');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Inter';
    src: local('Inter'), url(assets/fonts/Inter-Medium.ttf) format('ttf');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Inter';
    src: local('Inter'), url(assets/fonts/Inter-Regular.ttf) format('ttf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Inter';
    src: local('Inter'), url(assets/fonts/Inter-Light.ttf) format('ttf');
    font-weight: 300;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;

    text-decoration: none;
}

#root {
    display: flex;
    flex-direction: column;
}

html, body, #root {
    min-height: 100%;
    width: 100%;
}

body {
    font: 16px/1.6em 'Inter', 'Arial', sans-serif;
    min-width: 1200px;
}

:root {
    --bg-blue: #0D2E55;
    --white: #FFFFFF;
    --text-black: #0F0F0F;
    --icon-black: rgba(15, 15, 15, 0.8);
    --price-black: #262626;
    --price-gray: #8B8B8B;;
    --title-gray: #6A6A6A;
    --input-gray: rgba(255, 255, 255, 0.18);
    --text-gray: rgba(255, 255, 255, 0.52);
    --bg-gray: #F0F0F0;

    --btn-bg: #144075;
    --btn-bg-hover: linear-gradient(0deg, rgba(255, 255, 255, 0.10) 0%, rgba(255, 255, 255, 0.10) 100%), #144075;;
    --btn-bg-active: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #144075;;
    --btn-bg-selected: #FFFFFF;


    --swiper-pagination-bullet-width: 12px;
    --swiper-pagination-bullet-height: 12px;

    --header-height: 150px;
    --footer-height: 250px;

}

.global_container {
    max-width: 1140px;
    margin: 0 auto;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide,
.swiper-slide img{
    border-radius: 12px;
}

.swiper_pagination_container-left,
.swiper_pagination_container-right {
    transform: none !important;
}

/*@media (min-width: 576px) {*/
/*    .global_container {*/
/*        max-width: 540px;*/
/*    }*/
/*}*/

/*@media (min-width: 768px) {*/
/*    .global_container {*/
/*        max-width: 720px;*/
/*    }*/
/*}*/

/*@media (min-width: 992px) {*/
/*    .global_container {*/
/*        max-width: 960px;*/
/*    }*/
/*}*/

@media screen and (min-width: 1200px) {
    .global_container {
        max-width: 1140px;
    }
}

@media screen and (min-width: 1400px) {
    .global_container {
        max-width: 1320px;
    }
}
