.modal {
    padding: 28px 36px 28px 28px;

    border-radius: 16px;
    background: #F8F8F8;

    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 720px;
    z-index: 8001;
}

.modal__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal__button:hover {
    cursor: pointer;
}